<!DOCTYPE html>
<html>
<head>
    <title>Security App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style type="text/css">
        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Security App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" id="details" data-toggle="modal" data-target="#detailsModal">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Details Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="details-modal-body">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <!--Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="logout">Yes</button>
            </div>
            </div>
        </div>
    </div>
     <!--Push Modal -->
    <div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pushModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id= "pushModalBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    <div class="container" style="margin-top: 10px;">
        <div id="vip"> 
            <input type="checkbox" id="vip-tog" data-toggle="toggle" data-on="Enable" data-off="Disable" data-style="android" data-onstyle="success" data-offstyle="secondary">
        </div>
        <div id="user-area" style="display:none">
            <!-- <button id="sos" class="btn btn-danger btn-block" style="max-width: 500px; border-radius: 100%; border: orangered 20px solid; height: 300px; margin: 30px auto; width: 100%"><h1 id="btn-title">SOS</h1></button> -->
            <div style="margin-top: 20px">
                <div class="row">
                    <button id="sos" data-id="Ambulance" class="btn btn-warning col" style="margin: 10px"><img src="img/icons/003-ambulance.png"></button>
                    <button id="sos" data-id="Fire truck" class="btn btn-primary col" style="margin: 10px"><img src="img/icons/002-fire-truck.png"></button>
                </div>
                <div class="row">
                    <button id="sos" data-id="Police" class="btn btn-danger col" style="margin: 10px"><img src="img/icons/001-police-car.png"></button>
                    <button id ="call" class="btn btn-success col" style="margin: 10px">Call</button>
                </div>
            </div>
            <!-- <button  class="btn btn-success" onclick="location.href='https://call-capable-warriors.herokuapp.com'">Call</button> -->
        </div>
        <div id = "confirm" style="display:none">
            <p class="text-center">please wait for your account to be confirmed</p>
        </div>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.6.0/firebase-app.js"></script>
    <script src="/__/firebase/6.6.0/firebase-auth.js"></script>
    <script src="/__/firebase/6.6.0/firebase-firestore.js"></script>
    <script src="/__/firebase/6.6.0/firebase-messaging.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#reserved-urls -->
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        const auth = firebase.auth();
        const db = firebase.firestore();
        const messaging = firebase.messaging();
        let lat;
        let long;
        let name;
        let address;
        let time;
        let userid;
        let sendTo;
        var time_interval;
        let message;
        let message_id;
        let roomHash;
        let token;
        

        messaging.usePublicVapidKey("BF4RnEglCJNyRXHKIFG5o8MNGE-lRKVQW8XdHUjNG_RWRHow8ptjJ1KBvdVGL9qVeKoaFdNug6Z4uzjkqPE-Oi4")

        showPosition=(position)=> {
            lat= position.coords.latitude
            long= position.coords.longitude  
        }
        if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
        } 
        else {
            console.log('Turn on your GPS, try again')
        }

        function checkAuth(){
            if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
            } 
            else {
                console.log('Turn on your GPS, try again')
            }
            auth.onAuthStateChanged(user => {
                if(!user){
                    location.href='/index';
                    alert("please login");
                }
                db.collection('userDetails').doc(user.uid).get().then(doc => {
                    var x = document.getElementById("user-area");
                    var y = document.getElementById("confirm");
                    var z= document.getElementById("vip");
                    console.log("confirm",doc.data().village)
                    if(doc.data().village){
                        y.style.display = "none";
                        x.style.display = "block";
                    }
                    else{ 
                        y.style.display = "block";
                        x.style.display = "none";
                    }

                    if(doc.data().vip == "yes"){
                        z.style.display = "block";
                    }
                    else{
                        z.style.display = "none";
                    }
                })
            })
            Notification.requestPermission().then(() => {
                console.log('Notification permission granted.');
                // TODO(developer): Retrieve an Instance ID token for use with FCM.
                // ...
                return messaging.getToken()
                .then((currentToken) => {
                    console.log(currentToken)
                    auth.onAuthStateChanged(user => {
                        console.log("token saved")
                        db.collection('userDetails').doc(user.uid).update({token: currentToken})
                    })     
                    
                })
                .catch((err)=>{
                console.log('Unable to get permission to notify.', err);
                })
                
            }); 
            
        }
        auth.onAuthStateChanged(user => {
            db.collection('userDetails').doc(user.uid).get().then(doc => {
                userid = user.uid;
                name = doc.data().firstName+" "+doc.data().lastName 
                address = doc.data().address
                village = doc.data().village
                
            })    
        });
          
        document.querySelector("#details").addEventListener('click',()=>{
            document.querySelector('#details-modal-body').innerHTML = " <p>Name: <strong>"+name+"</strong></p><p>Address: <strong>"+address+"</strong></p> ";
        })

        document.querySelector("#logout").addEventListener('click',()=>{
            auth.onAuthStateChanged(user => {
                console.log(user.uid);
                db.collection('userDetails').doc(user.uid).update({token: ""})
                    .then(()=>{
                        auth.signOut().then(()=> {
                            location.href='/index';
                            alert("successfully logged out");
                        })
                })
            })
            
        })

        document.querySelector("#call").addEventListener('click',()=>{
            auth.onAuthStateChanged(user => {
                db.collection('userDetails').doc(user.uid).get().then(doc => {
                    
                })     
            });
            showPosition=(position)=> {
                lat= position.coords.latitude
                long= position.coords.longitude  
            }
            if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
            } 
            else {
                console.log('Turn on your GPS, try again')
            }
            auth.onAuthStateChanged(authUser => {
                db.collection('userDetails').doc(authUser.uid).get().then(doc => {
                    token = doc.data().token;
                    
                    console.log("myToken", token)
                }).then(()=>{     
                    
                    time = new Date()
            
                    db.collection('calls').add({
                        sender: name,
                        message: "call",
                        when: time,
                        lat: lat,
                        long: long,
                        village: village,
                        address: address,
                        fromToken: token,
                        userid: userid
                        
                    }).then((docRef)=>{
                        console.log(docRef.id)
                        roomHash = docRef.id
                    })
                    .then(()=>{db.collection("userDetails").get()
                        .then(function(querySnapshot) {
                            querySnapshot.forEach(function(doc) {
                                console.log(doc.data().adminLevel, doc.data().village, village)
                                if(doc.data().adminLevel == "admin" && doc.data().village == village){
                                    sendTo=doc.data().token
                                    console.log("sendTo",sendTo);
                                }
                            });
                        }).then(()=>{
                            callpush(sendTo, lat, long)
                        })
                    })
                })
            })
        })

        function callpush(sendTo, roomHash){
                // console.log(""+long, lat, time, name, address, village, sendTo);
                fetch("https://fcm.googleapis.com/fcm/send", {
                method: 'POST',
                body: JSON.stringify({
                    "to": sendTo, 
                    "data": {
                        "notification":{
                            "title": "call",
                            "lat": lat,
                            "long": long
                        }
                    }
                }),
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization': 'key=AAAAjASwrMs:APA91bHRryIujStkzpAP5fHsmzbB20uwtM3-FwadgdrMbAs2J5AveXRtiVlJ-4T8r1vYq5a0iAw77QofchZcleBXl2QJJfBQOxS_iAUk1AMpILa8AZdpIx0W8tYd_gRCr1uv21v531YX'
                }
            })
            .then(response => response.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
            location.href='https://call-capable-warriors.herokuapp.com#initlat:'+ lat +'long:'+ long ;
        }
        document.querySelectorAll("#sos").forEach(function(button){
            button.addEventListener("click", function(){
                button.disabled = true;
                setTimeout(function(){button.disabled = false;},10000);
                console.log("sos")
                message = button.getAttribute("data-id")
                var trigger = document.getElementById("vip-tog");

                if (trigger.checked == true && time_interval == undefined){  
                    time_interval = setInterval(function(){ send_request(message); }, 30000);
                } else {
                    time_interval = clearInterval(time_interval);
                }
                send_request(message);
            })
        })
        

        function send_request(message) {
            
            auth.onAuthStateChanged(user => {
                db.collection('userDetails').doc(user.uid).get().then(doc => {
                    
                })     
            });
            showPosition=(position)=> {
                lat= position.coords.latitude
                long= position.coords.longitude  
            }
            if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
            } 
            else {
                console.log('Turn on your GPS, try again')
            }
            auth.onAuthStateChanged(authUser => {
                db.collection('userDetails').doc(authUser.uid).get().then(doc => {
                    token = doc.data().token;
                    
                    console.log("myToken", token)
                }).then(()=>{     
                    
                    time = new Date()
            
                    db.collection('messages').add({
                        sender: name,
                        message: "HELP!! Requesting "+message,
                        when: time,
                        lat: lat,
                        long: long,
                        village: village,
                        address: address,
                        read: "no",
                        solved: "no",
                        alerted: "no",
                        fromToken: token,
                        userid: userid
                        
                    }).then((docRef)=>{
                        console.log(docRef.id)
                        message_id = docRef.id
                    })
                    .then(()=>{db.collection("userDetails").get()
                        .then(function(querySnapshot) {
                            querySnapshot.forEach(function(doc) {
                                console.log(doc.data().adminLevel, doc.data().village, village)
                                if(doc.data().adminLevel == "admin" &&doc.data().adminLevel == "sec" && doc.data().village == village){
                                    sendTo=doc.data().token
                                    console.log("sendTo",sendTo);
                                    push(sendTo, long, lat, time, name, address, village, message, message_id, token)
                                }
                            });
                        })
                    })
                })
            })

            function push(sendTo, long, lat, time, name, address, village, message, message_id, token, userid){
                console.log(""+long, lat, time, name, address, village, sendTo, message, message_id,token, userid);
                fetch("https://fcm.googleapis.com/fcm/send", {
                method: 'POST',
                body: JSON.stringify({
                    "to": sendTo, 
                    "data": {
                        "notification":{
                            "title": "HELP!! Requesting "+message,
                            "body": {
                                "long": long,
                                "lat": lat,
                                "time": time,
                                "name": name,
                                "address": address,
                                "village": village,
                                "message_id": message_id,
                                "fromToken": token,
                                "userid": userid
                            },
                            "icon": "src/images/icons/icon-72x72.png"
                        }
                        
                    }
                }),
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization': 'key=AAAAjASwrMs:APA91bHRryIujStkzpAP5fHsmzbB20uwtM3-FwadgdrMbAs2J5AveXRtiVlJ-4T8r1vYq5a0iAw77QofchZcleBXl2QJJfBQOxS_iAUk1AMpILa8AZdpIx0W8tYd_gRCr1uv21v531YX'
                }
            })
            .then(response => response.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
            }
        }

        messaging.onMessage((payload)=>{
        
            var obj = JSON.parse(payload.data.notification);
            if (window.Notification && Notification.permission == 'granted') {
            //
            } else if (isNewNotificationSupported()) {
                var notification = new Notification(obj.title);
            }
            console.log("1 "+obj.title);
            console.log("2 "+obj.body.message);
            $("#pushModalLabel").html(obj.title)
            $("#pushModalBody").html(obj.body.message)
            $("#pushModal").modal("show");

            


            
            
            
            
        })

        window.onload=checkAuth();
        


    </script>
    
</body>
</html>