<!DOCTYPE html>
<html>
<head>
    <title>Security App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #map {
			height: 100%;
		}
            /* Chat containers */
        .chat-container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 3px 0px;
            
        }

        .new-chat-container {
            border: 2px solid #dedede;
            -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
            border-radius: 5px;
            padding: 10px;
            margin: 3px 0px;
        }

        .call {
            -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
        }
    
        /* Darker chat container */
        .darker {
        border-color: #ccc;
        background-color: #ddd;
        }
    
        /* Clear floats */
        .container::after {
        content: "";
        clear: both;
        display: table;
        }
    
        /* Style images */
        .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
        }
    
        /* Style time text */
        .time-right {
        text-align: right;
        color: #aaa;
        }
    
        /* Style time text */
        .time-left {
        float: left;
        color: #999;
        }
        .my-custom-scrollbar {
        position: relative;
        height: 500px;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }
        .pad{
            padding: 10px;
            width: 95%;
        }
        #snackbar {
          visibility: hidden;
          min-width: 250px;
          margin-left: -125px;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 2px;
          padding: 16px;
          position: fixed;
          z-index: 1;
          left: 50%;
          bottom: 30px;
          font-size: 17px;
        }
        
        #snackbar.show {
          visibility: visible;
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        
        @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;} 
          to {bottom: 30px; opacity: 1;}
        }
        
        @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }
        
        @-webkit-keyframes fadeout {
          from {bottom: 30px; opacity: 1;} 
          to {bottom: 0; opacity: 0;}
        }
        
        @keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }

        @-webkit-keyframes blink {
            0%, 49% {
                background-color: #F08080;
                
            }
            50%, 100% {
                background-color: #ddd;
                
            }
        }
        @keyframes blink {
            0%, 49% {
                background-color: #F08080;
            }
            50%, 100% {
                background-color: #f1f1f1;  
            }
        }
        @-webkit-keyframes answerblink {
            0%, 49% {
                background-color: #F08080;
                
            }
            
        }
        @keyframes answerblink {
            0%, 49% {
                background-color: #F08080;
            }
           
        }
        .calendar div {
            float:left;
            width:50px;
            height:20px;
            line-height:20px;
            text-align:center;
            background: #ccc;
            margin:2px;
            cursor:pointer;
        }

        div.selected {
            box-shadow: 5px 5px 5px #888888;
        }
        div.selected {
            background:#ddd;
        }


    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Security App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home-admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/residents">Residents</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/villages">Villages</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </li>
                
            </ul>
        </div>
    </nav>

    

    <!--Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="logout">Yes</button>
            </div>
            </div>
        </div>
    </div>
    
    
    <div class = "container-fluid" id="scroller">
        <div class ="row">
            <div class = "col chat-container">
                    <div id="map"></div>
            </div>
            <div class = "col chat-container" id="scroller">
                <div class="table-wrapper-scroll-y my-custom-scrollbar btn-group chat" id="chat-area">
                    <p class="text-center" style ="color: #aaa;">Messages..</p>
                </div>  
            </div>
        </div>   
    </div>


    <div id="snackbar">ALERT</div>
    <button id ="call" style = "visibility: hidden;"class="btn btn-success call">answer</button>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.6.0/firebase-app.js"></script>
    <script src="/__/firebase/6.6.0/firebase-auth.js"></script>
    <script src="/__/firebase/6.6.0/firebase-firestore.js"></script>
    <script src="/__/firebase/6.6.0/firebase-messaging.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#reserved-urls -->
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <script>
        const auth = firebase.auth();
        const db = firebase.firestore();
        const messaging = firebase.messaging();

        let village;
        let lat;
        let long;
        var map;
        let solvedCount = 0;
        let message;
        var latlngbounds;
        var infoWindow;
        var marker = [];
        var i = 0;
        
        // if (navigator.geolocation) {
        //     navigator.geolocation.getCurrentPosition(showPosition);
        // } 
        // else {
        //     console.log('Turn on your GPS, try again')
        // }

        messaging.usePublicVapidKey("BF4RnEglCJNyRXHKIFG5o8MNGE-lRKVQW8XdHUjNG_RWRHow8ptjJ1KBvdVGL9qVeKoaFdNug6Z4uzjkqPE-Oi4")
        
        // navigator.serviceWorker.register('/firebase-messaging-sw.js')
        // .then(function (registration) {
        //     // Track updates to the Service Worker.
        //     if (!navigator.serviceWorker.controller) {
        //     // The window client isn't currently controlled so it's a new service
        //     // worker that will activate immediately
        //     return;
        //     }
        //     registration.update();
        //     onNewServiceWorker(registration, function() {
        //     showRefreshUI(registration);
        //     });
        // });
        
        Notification.requestPermission().then(() => {
            console.log('Notification permission granted.');
            // TODO(developer): Retrieve an Instance ID token for use with FCM.
            // ...
            return messaging.getToken()
            .then((currentToken) => {
                console.log(currentToken)
                auth.onAuthStateChanged(user => {
                    db.collection('userDetails').doc(user.uid).update({token: currentToken})
                })     
                
            })
            .catch((err)=>{
            console.log('Unable to get permission to notify.', err);
            })
            
        });

        document.querySelector("#call").addEventListener("click",()=>{
            document.querySelector("#call").style.visibility = "hidden";
        })

        messaging.onMessage((payload)=>{
    
            var obj = JSON.parse(payload.data.notification);
            if (window.Notification && Notification.permission == 'granted') {
             //
            } else if (isNewNotificationSupported()) {
                var notification = new Notification(obj.title);
            }

            if(obj.title == "call"){
                console.log("calling")
                document.querySelector("#call").style.visibility = "visible";
                document.querySelector("#call").onclick = function() { 
                    location.href='https://call-capable-warriors.herokuapp.com#notinitlat:'+ obj.lat +'long:'+ obj.long
                };
                
            }
            else{
                console.log("1 "+obj.body);
                console.log("2 "+obj.body.name);
                console.log("3 "+obj.body.time);
                console.log("4 "+obj.body.lat);
                console.log("5 "+obj.body.long);
                console.log("6 "+obj.body.village);
                console.log("7 "+obj.body.address);
                console.log("8 "+obj.body.message_id);
                console.log("9 "+obj.body.fromToken);
                let date = new Date();
                $('#chat-area').find('.pad').each(function(){
                    $(this).removeClass("selected")
                }) 
                document.querySelector("#chat-area").innerHTML += 
                `<div class="new-chat-container pad selected" data-id="`+obj.body.message_id+`" data-token="`+obj.body.fromToken+`" data-id="`+obj.body.userid+`">
                    <input type="radio" name="chat" value="`+obj.body.message_id+`" id="`+obj.body.message_id+`" />
                    <div class ="row">
                        <div class="col-8">
                            <p>`+obj.title+`<br>
                            from: `+obj.body.name+`<br>
                            address: `+obj.body.address+`<br>
                            </p>
                        </div>
                        <div class="col-4" style ="margin-bottom: 1rem">
                            <button type="button" class="btn btn-secondary btn-block respo" id="respond">respond</button>
                            <button type="button" class="btn btn-secondary btn-block alert" id="alert" >alert</button>
                        </div>
                    </div>
                    <div class ="row">
                        <div class="col">
                            <span class="time-right">`+date.getHours()+`:`+addZero(date.getMinutes());+`</span>
                        </div>
                    </div>
                </div>`;
                // document.querySelector("#location-body").innerHTML = `<iframe src='https://www.google.com/maps?q=`+obj.body.lat+`,`+obj.body.long+`&output=embed&z=17' style="border:none;height:500px;width:100%;"></iframe>`;
                placePin(obj.body.lat, obj.body.long, obj.body.name, obj.body.message_id)
                snackBar();
                $("#"+ obj.body.message_id).prop("checked", true);
            }   
        })

        // function initMap() {
        //     navigator.geolocation.getCurrentPosition(showPosition);
        //     function showPosition(position) {
        //         lat= position.coords.latitude
        //         long= position.coords.longitude  
        //         console.log(lat, long)
        //         map = new google.maps.Map(document.getElementById('map'), {  
        //             center: {lat: lat, lng: long},
        //             zoom: 13
        //         });
                
        //     }
        //     scrollBot();
        // }

            //with multiple pins
        function initMap() {
            infoWindow = new google.maps.InfoWindow();
            navigator.geolocation.getCurrentPosition(showPosition);
            function showPosition(position) {
                lat= position.coords.latitude
                long= position.coords.longitude  
                console.log("lat long",lat, long)
                map = new google.maps.Map(document.getElementById('map'), {  
                    center: {lat: lat, lng: long},
                    zoom: 13
                    
                });
            }
            
            // Create LatLngBounds object.
            latlngbounds = new google.maps.LatLngBounds();
            auth.onAuthStateChanged(user => {
                db.collection("messages").orderBy("when").get()
                    .then(messages =>{
                        solvedCount = 0;
                        
                        messages.forEach(function(doc) {
                            
                            console.log("SOLVED", doc.data().solved)
                            if (doc.data().solved == "no"){
                                solvedCount ++;
                                console.log("add", solvedCount)
                            }
                                console.log("count",solvedCount);
                                if(solvedCount != 0){
                                    console.log("count2",solvedCount);
                                    console.log("why?")
                                    
                                    db.collection("userDetails").doc(user.uid).get().then((user)=>{
                                        if(doc.data().village == user.data().village){
                                            if (doc.data().solved == "no"){
                                                
                                                console.log("markers", doc.data().lat, doc.data().long)
                                                var myLatlng = new google.maps.LatLng(doc.data().lat, doc.data().long);
                                                marker[i] = new google.maps.Marker({
                                                    position: myLatlng,
                                                    map: map,
                                                    id: doc.id,
                                                    title: 'Help Request from '+ doc.data().sender,
                                                    animation: google.maps.Animation.DROP,
                                                    zoom: 13
                                                    // icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
                                                });
                                                
                                                google.maps.event.addListener(marker[i], "click", function (e) {
                                                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + doc.data().message + "<br><br><button class = 'btn btn-sm btn-secondary deletePin' data-id="+doc.id+">delete</button></div>");
                                                    infoWindow.open(map, this);
                                                });
                                                
                                                // markers.push(marker)
                                                latlngbounds.extend(marker[i].position);
                                                i++;
                                            }
                                        }
                                        var bounds = new google.maps.LatLngBounds();
                                        map.fitBounds(latlngbounds);
                                        console.log(map.getZoom());
                                        if(map.getZoom() > 13){
                                            map.setZoom(13);
                                        }
                                    })
                                }
                            
                        })
                    })
            })
            
        }


    //     for (var i = 0; i < markers.length; i++) {
    //         var data = markers[i]
    //         var myLatlng = new google.maps.LatLng(data.lat, data.lng);
    //         var marker = new google.maps.Marker({
    //             position: myLatlng,
    //             map: map,
    //             title: data.title
    //         });
    //         (function (marker, data) {
    //             google.maps.event.addListener(marker, "click", function (e) {
    //                 infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
    //                 infoWindow.open(map, marker);
    //             });
    //         })(marker, data);
 
    //         //Extend each marker's position in LatLngBounds object.
    //         latlngbounds.extend(marker.position);
    //     }
 
    //     //Get the boundaries of the Map.
    //     var bounds = new google.maps.LatLngBounds();
 
    //     //Center map and adjust Zoom based on the position of all markers.
    //     map.setCenter(latlngbounds.getCenter());
    //     map.fitBounds(latlngbounds);
    

        function placePin(_lat, _long, _name, _id){
            console.log("map", map)
            if(_lat != null){
                var marker1 = new google.maps.Marker({
                    position: {lat: _lat,lng: _long},
                    map: map,
                    id:_id,
                    title: 'Help Request from '+_name,
                    animation: google.maps.Animation.DROP,
                    // icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
                });
                (function (marker1) {
                    google.maps.event.addListener(marker1, "click", function (e) {
                        db.collection("messages").doc(_id).get().then((doc) =>{
                            infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + doc.data().message + "<br><br><button class = 'btn btn-sm btn-secondary deletePin' data-id="+doc.id+">delete</button></div>");
                            infoWindow.open(map, marker1);
                        })
                    });
                })(marker1);
                
                latlngbounds.extend(marker1.position);
                map.fitBounds(latlngbounds);
            }
            marker.push(marker1);
            for(i = 0; i < marker.length; i++){
                marker[i].setAnimation(null);
            }
            if(map.getZoom() > 13){
                map.setZoom(13);
            }
            bounceMarker(_id);

            scrollBot();
            // initMap();
            
        }

        function addZero(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        function isNewNotificationSupported() {
            if (!window.Notification || !Notification.requestPermission)
                return false;
            if (Notification.permission == 'granted')
                throw new Error('You must only call this *before* calling Notification.requestPermission(), otherwise this feature detect would bug the user with an actual notification!');
            try {
                new Notification('');
            } catch (e) {
                if (e.name == 'TypeError')
                    return false;
            }
            return true;
        }

        function checkAuth(){
            auth.onAuthStateChanged(user => {
                if(!user){
                    location.href='/index';
                    alert("please login");
                }
                db.collection('userDetails').doc(user.uid).get().then(doc => {
                    if(doc.data().adminLevel -= "user"){
                        location.href='/home';
                    }else if (doc.data().adminLevel == "superadmin"){
                        location.href='/superadmin';
                    }
                }).then(()=>{
                    initMap();
                    loadChat();
                })
            })

        }
        document.querySelector("#chat-area").addEventListener('click', function(e){
            if(e.target.classList.contains('respo')) {
                console.log(e.target.parentNode)
                x = e.target.parentNode.parentNode.parentNode
                x.setAttribute("class", "chat-container pad")
                
                let messageID = x.getAttribute("data-id")
                let senderToken = x.getAttribute("data-token")
                let senderID = x.getAttribute("data-id")
                console.log("sender", senderToken);
                
                db.collection('messages').doc(messageID)
                .update({read: "yes"})
                .then(()=>{
                    db.collection('messages').doc(messageID).get().then(doc => {
                    //    console.log(doc.data().message.slice(18))
                       message = doc.data().message.slice(18)
                    }).then(()=>{
                        console.log("respondpush",senderToken, message)
                        respondPush(senderToken, message);
                        // alertPush(senderID, message);
                    })
                    
                })

                e.target.remove();
                // alertPush(senderID, message);
            }
            else if(e.target.classList.contains('alert')) {
                console.log(e.target.parentNode)
                x = e.target.parentNode.parentNode.parentNode
                // x.setAttribute("class", "chat-container pad")
                
                let messageID = x.getAttribute("data-id")
                let senderToken = x.getAttribute("data-token")
                let senderID = x.getAttribute("data-id")
                console.log("sender", senderToken);
                
                db.collection('messages').doc(messageID)
                .update({alerted: "yes"})
                .then(()=>{
                    db.collection('messages').doc(messageID).get().then(doc => {
                    //    console.log(doc.data().message.slice(18))
                       message = doc.data().message.slice(18)
                    }).then(()=>{
                        // console.log("respondpush",senderToken, message)
                        // respondPush(senderToken, message);
                        alertPush(senderToken, message);
                    })
                    
                })

                e.target.remove();
                // alertPush(senderID, message);
            }

        });

        // $("#chat-area div").click(function(e){
        //     // $(this).closest("#chat-area").find("div").removeClass("selected");
        //     // $(this).addClass("selected").find(":radio").click();
        //     alert("hello")
        // });

       

        function respondPush(senderToken, message){
            console.log("respondpush 2 ",senderToken, message)
            fetch("https://fcm.googleapis.com/fcm/send", {
                method: 'POST',
                body: JSON.stringify({
                    "to": senderToken, 
                    "data": {
                        "notification":{
                            "title": "Help is on the way",
                            "body":{
                                "message": "Your "+message+" request will be there shortly"
                            },
                            "icon": "src/images/icons/icon-72x72.png"
                        }
                    }
                }),
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization': 'key=AAAAjASwrMs:APA91bHRryIujStkzpAP5fHsmzbB20uwtM3-FwadgdrMbAs2J5AveXRtiVlJ-4T8r1vYq5a0iAw77QofchZcleBXl2QJJfBQOxS_iAUk1AMpILa8AZdpIx0W8tYd_gRCr1uv21v531YX'
                }
            })
            .then(response => response.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
        }

        function alertPush(senderToken, message){
            // console.log("alertpush", senderID, message)
            auth.onAuthStateChanged(admin => {
                console.log("admin", admin.uid);
                db.collection("userDetails").get()
                .then(residents =>{
                    residents.forEach(function(doc) {
                        db.collection("userDetails").doc(admin.uid).get().then((admin)=>{
                            console.log("compare", doc.data().token , senderToken)
                            if(doc.data().village == admin.data().village && doc.data().token != senderToken && doc.data().adminLevel != "admin" && doc.data().adminLevel != "superadmin" && doc.data().adminLevel != "sec"){
                                let incident;
                                if(message == "Ambulance"){
                                    incident = "an Accident/Emergency"
                                }
                                else if(message == "Fire Truck"){
                                    incident = "a Fire"
                                }
                                else if(message == "Police"){
                                    incident = "a Robbery/Crime"
                                }


                                fetch("https://fcm.googleapis.com/fcm/send", {
                                    method: 'POST',
                                    body: JSON.stringify({
                                        "to": doc.data().token, 
                                        "data": {
                                            "notification":{
                                                "title": "Incident nearby",
                                                "body":{
                                                    "message": "someone in you area reported "+ incident
                                                },
                                                "icon": "src/images/icons/icon-72x72.png"
                                            }
                                        }
                                    }),
                                    headers:{
                                        'Content-Type': 'application/json',
                                        'Authorization': 'key=AAAAjASwrMs:APA91bHRryIujStkzpAP5fHsmzbB20uwtM3-FwadgdrMbAs2J5AveXRtiVlJ-4T8r1vYq5a0iAw77QofchZcleBXl2QJJfBQOxS_iAUk1AMpILa8AZdpIx0W8tYd_gRCr1uv21v531YX'
                                    }
                                })
                                .then(response => response.json())
                                .then(response => console.log('Success:', JSON.stringify(response)))
                                .catch(error => console.error('Error:', error));
                                                }
                                            })
                                        })
                                    })
                                })
        }



        
        document.querySelector("#map").addEventListener('click', function(e){
            if(e.target.classList.contains('deletePin')) { 
                let messageID = e.target.getAttribute("data-id")
                console.log(messageID)
                db.collection('messages').doc(messageID).update({solved: "yes"})
                // navigator.geolocation.getCurrentPosition(showPosition);
                // function showPosition(position) {
                //     lat= position.coords.latitude
                //     long= position.coords.longitude  
                //     console.log("lat long",lat, long)
                //     map = new google.maps.Map(document.getElementById('map'), {  
                //         center: {lat: lat, lng: long},
                //         zoom: 13
                //     });
                // }
                initMap();
            }
		});

        
        
        
        function scrollBot(){
            $(":radio").hide().click(function(e){
                e.stopPropagation();
            });
            $('#chat-area').find('.pad').click( function() { 
                $('#chat-area').find('.pad').each(function(){
                    $(this).removeClass("selected")
                })
                    
                $(this).addClass("selected") 

                id = $(this).attr("data-id")
                $("#"+ id).prop("checked", true);
                var radioValue = $("input[name='chat']:checked").val();
                bounceMarker(radioValue)
            });
            console.log("scroll")
            var objDiv = document.querySelector("#chat-area");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        function bounceMarker(radioValue){
            console.log("hello", marker);
            console.log("hello2", radioValue);
            
            for(i = 0; i < marker.length; i++){
                if(marker[i].id == radioValue){
                    console.log("ani", marker[i].getAnimation())
                    if (marker[i].getAnimation() === null) {
                        marker[i].setAnimation(google.maps.Animation.BOUNCE);
                        console.log("bounce", marker[i].getAnimation())
                    }
                }
                else{
                    marker[i].setAnimation(null);
                }
            }
            
        }

        function loadChat(){
            auth.onAuthStateChanged(user => {
                console.log("user", user.uid);
                db.collection("messages").orderBy("when").get()
                .then(messages =>{
                    messages.forEach(function(doc) {
                        db.collection("userDetails").doc(user.uid).get().then((user)=>{
                            if(doc.data().village == user.data().village){
                                console.log("message", doc.data().village, doc.data().read, user.data().village)
                            // doc.data() is never undefined for query doc snapshot
                                if(doc.data().read == "no"){
                                    if(doc.data().alerted == "no"){
                                        document.querySelector("#chat-area").innerHTML += 
                                        `
                                        <div class="new-chat-container pad" data-id="`+doc.id+`" data-token="`+doc.data().fromToken+`" data-id="`+doc.data().userid+`">
                                            <input type="radio" name="chat" value="`+doc.id+`" id="`+doc.id+`"/>
                                            <div class ="row">
                                                <div class="col-8">
                                                    <p>`+doc.data().message+`<br>
                                                    from: `+doc.data().sender+`<br>
                                                    address: `+doc.data().address+`<br>
                                                    </p>
                                                </div>
                                                <div class="col-4" style ="margin-bottom: 1rem">
                                                        <button type="button" class="btn btn-secondary btn-block respo" id="respond" >respond</button>
                                                        <button type="button" class="btn btn-secondary btn-block alert" id="alert" >alert</button>
                                                </div>
                                            </div>
                                            <div class ="row">
                                                <div class="col">
                                                    <span class="time-right">`+doc.data().when.toDate().getHours()+`:`+addZero(doc.data().when.toDate().getMinutes())+`</span>
                                                </div>
                                            </div>
                                        </div>`;
                                    }
                                    else{
                                        document.querySelector("#chat-area").innerHTML += 
                                        `
                                        <div class="new-chat-container pad" data-id="`+doc.id+`" data-token="`+doc.data().fromToken+`" data-id="`+doc.data().userid+`">
                                            <input type="radio" name="chat" value="`+doc.id+`" id="`+doc.id+`"/>
                                            <div class ="row">
                                                <div class="col-8">
                                                    <p>`+doc.data().message+`<br>
                                                    from: `+doc.data().sender+`<br>
                                                    address: `+doc.data().address+`<br>
                                                    </p>
                                                </div>
                                                <div class="col-4" style ="margin-bottom: 1rem">
                                                        <button type="button" class="btn btn-secondary btn-block respo" id="respond" >respond</button>
                                                </div>
                                            </div>
                                            <div class ="row">
                                                <div class="col">
                                                    <span class="time-right">`+doc.data().when.toDate().getHours()+`:`+addZero(doc.data().when.toDate().getMinutes())+`</span>
                                                </div>
                                            </div>
                                        </div>`;
                                    }
                                    // document.querySelector("#location-body").innerHTML = `<iframe src='https://www.google.com/maps?q=`+doc.data().lat+`,`+doc.data().long+`&output=embed&z=17' style="border:none;height:500px;width:100%;"></iframe>`
                                }
                                else{
                                    if(doc.data().alerted == "yes"){
                                        document.querySelector("#chat-area").innerHTML += 
                                        `
                                        <div class="chat-container pad" data-id="`+doc.id+`">
                                            <input type="radio" name="chat" value="`+doc.id+`" id="`+doc.id+`"/>
                                            <div class ="row">
                                                <div class="col-8">
                                                    <p>`+doc.data().message+`<br>
                                                    from: `+doc.data().sender+`<br>
                                                    address: `+doc.data().address+`<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class ="row">
                                                <div class="col">
                                                    <span class="time-right">`+doc.data().when.toDate().getHours()+`:`+addZero(doc.data().when.toDate().getMinutes())+`</span>
                                                </div>
                                            </div>
                                        </div>`;
                                    }
                                    else{
                                        document.querySelector("#chat-area").innerHTML += 
                                        `
                                        <div class="chat-container pad" data-id="`+doc.id+`" data-token="`+doc.data().fromToken+`" data-id="`+doc.data().userid+`">
                                            <input type="radio" name="chat" value="`+doc.id+`" id="`+doc.id+`"/>
                                            <div class ="row">
                                                <div class="col-8">
                                                    <p>`+doc.data().message+`<br>
                                                    from: `+doc.data().sender+`<br>
                                                    address: `+doc.data().address+`<br>
                                                    </p>
                                                </div>
                                                <div class="col-4" style ="margin-bottom: 1rem">
                                                    <button type="button" class="btn btn-secondary btn-block alert" id="alert" >alert</button>
                                                </div>
                                            </div>
                                            <div class ="row">
                                                <div class="col">
                                                    <span class="time-right">`+doc.data().when.toDate().getHours()+`:`+addZero(doc.data().when.toDate().getMinutes())+`</span>
                                                </div>
                                            </div>
                                        </div>`;
                                    }
                                }
                            }
                        })
                        .then(()=>{
                            
                           
                            console.log("here")
                            scrollBot()
                        })
                    });
                })
            }) 
        }
        

        
        
        function snackBar() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 6000);
        }

        document.querySelector("#logout").addEventListener('click',()=>{
            auth.onAuthStateChanged(user => {
                console.log(user.uid);
                db.collection('userDetails').doc(user.uid).update({token: ""})
                    .then(()=>{
                        auth.signOut().then(()=> {
                            location.href='/index';
                            alert("successfully logged out");
                        })
                })
            })
            
        })

        window.onload=checkAuth();
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIIjMbH8s7Opm7MVI_5vhG9aUQQM_Gs7Q">
    </script>
    
    </body>
</html>